@model _3F.Web.Models.EnumerableBaseViewModel<_3F.BusinessEntities.Account.KnowFrom>

@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}

<div class="row">
    <div class="btn btn-success roundCorners" data-function="edit">
        <i class="icon-plus"> </i> Nová položka
    </div>
</div>
<div class="row">
    <table class="borderTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Je viditelné</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Entities)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Text</td>
                <td>@item.Visible</td>
                <td><div data-id="@item.Id" data-function="edit" class="btn btn-warning roundCorners">Editovat</div></td>
                <td><div data-id="@item.Id" data-function="delete" class="btn btn-danger roundCorners">Smazat</div></td>
            </tr>
        }
        </tbody>
    </table>
</div>

@Html.RenderModalPlaceHolder()

@section Scripts {
    <script type="text/javascript">
            var editURL = '@Url.Content("~/Administrace/KnowFromEdit/")';
            var deleteURL = '@Url.Content("~/Administrace/KnowFromDelete/")';
            $(function () {
                $(".roundCorners").click(function () {
                    var options = { "backdrop": "static", keyboard: true };
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.data('id');
                    var fce = $buttonClicked.data('function');
                    $.ajax({
                        type: "GET",
                        url: fce==='edit'? editURL : deleteURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });
    </script>   
}