@model _3F.Web.Models.GenericBaseViewModel<_3F.Web.Models.Administration.UserWithRoles>

@{
    Layout = "~/Views/Shared/_FullPageLayout.cshtml";
}
<div>
    Email: @Model.Entity.Email
</div>
<br/>
<form method="post">
    @Html.AntiForgeryToken()
    @foreach (var role in Model.Entity.Roles)
    {
        <div>
            <input type="checkbox" id="@role.RoleName" name="roles" value="@role.RoleName"
                   @if (role.IsInRole) { <text> checked</text> } 
                   @if(!role.IsEditable) { <text> disabled</text> } />
            @role.RoleDescription
        </div>
        <br />
    }
    <br />
    <input type="submit" class="btn btn-success" value="Uložit" />
</form>