@model _3F.Web.Models.User

<span>
    @if (Model.IsDeleted)
    {
        <img src="@Url.Content("~/Images/Profile/" + Model.ProfilePhoto)" title="@Model.name" class="profilePhoto" />
    }
    else
    {
        <a href="@Url.Content("~/Profil/Detail/" + Model.htmlName)" title="@Model.name" style="text-decoration: none;">
            <img src="@Url.Content("~/Images/Profile/" + Model.ProfilePhoto)" alt="@Model.name" title="@Model.name" class="profilePhoto" />
        </a>
    }
</span>